doctype html
html
    head
        body
            p Cześć #{email},
            p Dziękuję Ci za zarejestrowanie się.
            p By móc zacząć, potwierdź poniższy token:
            p #{user.secretToken}
            p Na tej stronie:
            a(href="http://localhost:3000/verify") Kliknij tutaj, by przejść na stronę do aktywacji konta
            p
            p Miłego dnia!

