.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-right {
    height: auto !important;
    display: block !important;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .navbar-header, .navbar-right {
    height: 70px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-header {
    float: inherit;
  }
}

.navbar-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-inverse {
  background-color: #000000;
  margin: 0px;
  border-radius: 0px;
}