@import 'navBar';
@import 'register-login';
@import '../../../node_modules/react-tabs/style/react-tabs.css';
@import '../../../node_modules/react-redux-toastr/src/styles/index';
$program-color: #ce0037;

@font-face {
  font-family: 'vineritc';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  src: url('fonts/VINERITC.ttf');
}

body, html {
  font-family: sans-serif, vineritc
}

p {
  font-size: 16px;
}

#logo {
  width: 140px;
  height: 105px;
}

.main-header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("photos/main-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 25%;
}

.header-section {
  height: 23vh;
  background-image: linear-gradient(white 0.2cm, black);
  .header-title {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-family: 'vineritc';
    color: #fff;
    font-size: 55px;
  }
}

.down {
  margin-top: 80px;
}

.main-header-container {
  top: 50vh;
  position: absolute;
  color: #fff;
  left: 10%;
  text-align: center;
  h1 {
    text-align: right;
  }
  .button {
    margin-top: 10px;
    width: 45%;
  }
}

.button {
  background-color: #bd6b0b;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8)
}

footer {
  margin: 50px 80px 0px 80px;
  display: block;
}

section {
  margin-top: 50px;
}

.about-section {
  .about-text-wrapper {

  }
}

.how-it-works-section {
  text-align: center !important;
  .step {
    margin: 30px;
    .arrow {
      transform: rotate(200deg);
      margin: 0 auto;
      height: 260px;
    }
    .step-count {
      font-size: 20px;
      margin: 30px;
      font-weight: 800;
    }
    .step-text {
      font-size: 16px;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: 700px) and (max-width: 1366px) {
    .arrow {
      height: 200px !important;
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 700px) {
    .arrow {
      height: 200px !important;
    }
  }

  @media only screen and (max-width: 374px) {
    .arrow {
      height: 150px !important;
    }
  }
}

.timeline-section {
  @import 'timeline';
}

.interested-section {
  margin: 0 0;
  background-color: #ff026d;
  background-size: cover;
  height: 300px;
  width: 100%;
  background: linear-gradient(0deg, rgba(213, 16, 102, 0), rgba(213, 16, 102, 1)), url("photos/forest.jpg") repeat;
  color: #fff;
  text-align: center;
  .center-elements {
    padding-top: 59px;
    padding-bottom: 59px;
    & p {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    & button {
      width: 255px;
      background-color: #42bff3;
    }
  }
  .row {
    margin: 0px 0px !important;
  }
}

.center {
  text-align: center;
}

.files-section {
  text-align: center !important;
  ul > li {
    display: inline-block;
    padding-right: 10px;
  }
  .program-icon {
    font-size: 45px;
    color: $program-color;
    vertical-align: middle;
    padding-right: 10px;
  }

  .program-icon-text {

  }

  @media only screen and (max-width: 500px) {
    ul > li {
      display: block;
      padding-right: 10px;
    }
  }
}

.program-table-section {
  .table-header {
    background-color: $program-color;
    color: #fff;
    th {
      text-align: center;
      .center-header {
        position: relative;
        left: 5%;
      }
    }
  }
}

.members-table-section {
  .table-header {
    background-color: #3171ad;
    color: #fff;
    th {
      text-align: center;
    }
  }
}

.circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

.subjects-section {
  .image {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .row {
    margin-bottom: 22px;
    margin-top: 22px;
  }

  .text {
    padding: 35px;
    .description {
      padding-top: 35px;
    }
  }
}

.payment-section {
  background-color: #eee;
  padding-bottom: 30px;
  .payment-option {
    background-color: #fff;
    max-width: 280px;
    margin: 0 10px;
    border-radius: 15px;
    display: inline-block;
    .payment-header {
      padding-left: 23px;
      padding-right: 20px;
      li {
        display: table;
      }
      .title {
        font-size: 18px;
      }
      .pricing {
        font-size: 30px;
        .one-time {
          font-size: 16px
        }
      }
    }
    .options {
      td {
        text-align: left !important;
        img {
          max-width: none;
          padding-right: 5px;
        }
      }
      margin: 0px 20px;
    }
    .button {
      background-color: #1545ff;
      width: 76%;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
    }

    .line {
      border: solid 10px #31b0ff;
    }

    @media only screen and (max-width: 629px) {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0px;
      }
    }

  }
}

.application-section {

}

#footer {
  margin-top: 50px;
  background-color: #000 !important;
  color: #fff !important;
  text-align: center;
  i {
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
}




