@import url(../../../node_modules/react-tabs/style/react-tabs.css);
.navbar-inverse .navbar-nav > li > a {
  color: #fff; }

@media (max-width: 767px) {
  .navbar-right {
    height: auto !important;
    display: block !important; } }
@media (max-width: 999px) and (min-width: 768px) {
  .navbar-header, .navbar-right {
    height: 70px !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-header {
    float: inherit; } }
.navbar-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar-right {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar-inverse {
  background-color: #000000;
  margin: 0px;
  border-radius: 0px; }

.register-login-section {
  /***** Top content *****/
  /***** Footer *****/
  /***** Media queries *****/ }
  .register-login-section body {
    background: url(./photos/bg.jpg) left top repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center; }
  .register-login-section strong {
    font-weight: 500; }
  .register-login-section a, .register-login-section a:hover, .register-login-section a:focus {
    color: #19b9e7;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s; }
  .register-login-section h1, .register-login-section h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px; }
  .register-login-section h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px; }
  .register-login-section img {
    max-width: 100%; }
  .register-login-section ::-moz-selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none; }
  .register-login-section ::selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none; }
  .register-login-section .btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .register-login-section .btn-link-1:hover, .register-login-section .btn-link-1:focus, .register-login-section .btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff; }
  .register-login-section .btn-link-1.btn-link-1-facebook {
    background: #4862a3; }
  .register-login-section .btn-link-1.btn-link-1-twitter {
    background: #55acee; }
  .register-login-section .btn-link-1.btn-link-1-google-plus {
    background: #dd4b39; }
  .register-login-section .btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px; }
  .register-login-section .btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .register-login-section .btn-link-2:hover, .register-login-section .btn-link-2:focus,
  .register-login-section .btn-link-2:active, .register-login-section .btn-link-2:active:focus {
    outline: 0;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.3);
    color: #fff; }
  .register-login-section .inner-bg {
    padding: 60px 0 80px 0; }
  .register-login-section .top-content .description {
    margin: 20px 0 10px 0; }
  .register-login-section .top-content .description a:hover,
  .register-login-section .top-content .description a:focus {
    border-bottom: 1px dotted #19b9e7; }
  .register-login-section .form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #f3f3f3;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left; }
  .register-login-section .form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px; }
  .register-login-section .form-top-left h3 {
    margin-top: 0; }
  .register-login-section .form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right; }
  .register-login-section .form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left; }
  .register-login-section .form-bottom form textarea {
    height: 100px; }
  .register-login-section .form-bottom form button.btn {
    width: 100%; }
  .register-login-section .form-bottom form .input-error {
    border-color: #19b9e7; }
  .register-login-section .social-login {
    margin-top: 35px; }
  .register-login-section .social-login-buttons {
    margin-top: 25px; }
  .register-login-section .middle-border {
    min-height: 300px;
    margin-top: 29px;
    border-right: 1px solid #ddd; }
  .register-login-section footer {
    padding-bottom: 70px; }
  .register-login-section footer .footer-border {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-top: 1px solid #ddd; }
  .register-login-section footer a:hover, .register-login-section footer a:focus {
    border-bottom: 1px dotted #19b9e7; }
  @media (max-width: 767px) {
    .register-login-section .middle-border {
      min-height: auto;
      margin: 65px 30px 0 30px;
      border-right: 0;
      border-top: 1px solid #ddd; } }
  @media (max-width: 415px) {
    .register-login-section h1, .register-login-section h2 {
      font-size: 32px; } }
  .register-login-section input[type="text"],
  .register-login-section input[type="password"],
  .register-login-section textarea,
  .register-login-section textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s; }
  .register-login-section textarea,
  .register-login-section textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px; }
  .register-login-section input[type="text"]:focus,
  .register-login-section input[type="password"]:focus,
  .register-login-section textarea:focus,
  .register-login-section textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .register-login-section input[type="text"]:-moz-placeholder, .register-login-section input[type="password"]:-moz-placeholder,
  .register-login-section textarea:-moz-placeholder, .register-login-section textarea.form-control:-moz-placeholder {
    color: #888; }
  .register-login-section input[type="text"]:-ms-input-placeholder, .register-login-section input[type="password"]:-ms-input-placeholder,
  .register-login-section textarea:-ms-input-placeholder, .register-login-section textarea.form-control:-ms-input-placeholder {
    color: #888; }
  .register-login-section input[type="text"]::-webkit-input-placeholder, .register-login-section input[type="password"]::-webkit-input-placeholder,
  .register-login-section textarea::-webkit-input-placeholder, .register-login-section textarea.form-control::-webkit-input-placeholder {
    color: #888; }
  .register-login-section button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s; }
  .register-login-section button.btn:hover {
    opacity: 0.6;
    color: #fff; }
  .register-login-section button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .register-login-section button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff; }
  .register-login-section button.btn:active:focus, .register-login-section button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }
  .animated.bounceIn {
    animation-duration: .7s; }
  .animated.bounceOut {
    animation-duration: .5s; }
  .animated.bounceIn {
    animation-name: bounceIn; }
  .animated.bounceOut {
    animation-name: bounceOut; }
  .animated.fadeIn {
    animation-name: fadeIn;
    animation-duration: .7s; }
  .animated.fadeOut {
    animation-name: fadeOut;
    animation-duration: .3s; }
  .animated.bounceInDown {
    animation-name: bounceInDown; }
  .animated.bounceOutUp {
    animation-name: bounceOutUp; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.rrt-confirm-holder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999; }
  .rrt-confirm-holder .shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 58, 68, 0.8); }
  .rrt-confirm-holder .rrt-confirm {
    width: 320px;
    background-color: white;
    position: absolute;
    z-index: 9;
    top: 20%;
    left: 50%;
    margin-left: -160px;
    box-shadow: 3px 3px 20px #333;
    border-radius: 4px;
    overflow: hidden; }
    .rrt-confirm-holder .rrt-confirm .rrt-message {
      width: 100%;
      padding: 5%;
      min-height: 50px;
      font-size: 1em;
      background-color: white;
      text-align: center;
      font-family: 'open-sanscondensed-light', sans-serif;
      clear: both; }
    .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder {
      display: flex; }
      .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button {
        flex-grow: 1;
        height: 50px;
        text-transform: capitalize;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        float: left;
        border-top: 1px solid #f0f0f0;
        font-size: 14px;
        overflow: hidden;
        cursor: pointer; }
        .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button:hover {
          background-color: #f5f5f5; }
        .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button.rrt-ok-btn:active {
          background-color: #60bb71;
          color: white; }
        .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button.rrt-cancel-btn:active {
          background-color: #db6a64;
          color: white; }
        .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button:focus {
          outline: none; }

body.toastr-confirm-active {
  overflow: hidden; }

.redux-toastr *, .redux-toastr *:before, .redux-toastr *:after {
  box-sizing: border-box; }
.redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center, .redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .bottom-center {
  width: 350px;
  position: fixed;
  z-index: 99999999;
  padding: 0 10px; }
.redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center {
  top: 0; }
.redux-toastr .top-right, .redux-toastr .bottom-right {
  right: 0; }
.redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .bottom-center {
  bottom: 0; }
.redux-toastr .top-left, .redux-toastr .bottom-left {
  left: 0; }
.redux-toastr .top-center, .redux-toastr .bottom-center {
  left: 50%;
  margin-left: -175px; }
@media (max-width: 320px) {
  .redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center, .redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .bottom-center {
    width: 320px; }
  .redux-toastr .top-center, .redux-toastr .bottom-center {
    margin-left: -160px; } }
.redux-toastr .toastr {
  background-color: #fcfcfc;
  width: 100%;
  min-height: 70px;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  color: #333;
  opacity: .94;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); }
  .redux-toastr .toastr:hover:not(.rrt-message) {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    opacity: 1; }
  .redux-toastr .toastr .toastr-status {
    width: 100%;
    height: 5px; }
    .redux-toastr .toastr .toastr-status.success {
      background-color: #60bb71; }
    .redux-toastr .toastr .toastr-status.warning {
      background-color: #f7a336; }
    .redux-toastr .toastr .toastr-status.info {
      background-color: #58abc3; }
    .redux-toastr .toastr .toastr-status.error {
      background-color: #db6a64; }
  .redux-toastr .toastr .rrt-left-container, .redux-toastr .toastr .rrt-right-container {
    float: left;
    text-align: center;
    overflow: hidden; }
  .redux-toastr .toastr .rrt-left-container {
    width: 80px;
    top: 0;
    left: 0;
    position: absolute;
    bottom: 0; }
    .redux-toastr .toastr .rrt-left-container .rrt-holder {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 50%;
      margin-top: -35px;
      left: 5px;
      line-height: 60px; }
    .redux-toastr .toastr .rrt-left-container .toastr-icon {
      fill: white;
      vertical-align: middle;
      margin-top: 5px; }
  .redux-toastr .toastr .rrt-middle-container {
    width: 65%;
    margin-left: 80px;
    position: relative;
    float: left;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 1em;
    text-align: left;
    padding: 10px 5px; }
    .redux-toastr .toastr .rrt-middle-container .rrt-title {
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 5px; }
  .redux-toastr .toastr .rrt-right-container {
    width: 10%; }
  .redux-toastr .toastr .close-toastr {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    font-size: 22px;
    border: none;
    outline: none;
    opacity: 0.5;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial sans-serif; }
    .redux-toastr .toastr .close-toastr:hover {
      opacity: 1; }
    .redux-toastr .toastr .close-toastr:focus {
      outline: none; }
  .redux-toastr .toastr.rrt-info, .redux-toastr .toastr.rrt-success, .redux-toastr .toastr.rrt-warning, .redux-toastr .toastr.rrt-error {
    color: white; }
  .redux-toastr .toastr.rrt-info {
    background-color: #58abc3; }
    .redux-toastr .toastr.rrt-info .rrt-progressbar {
      background-color: #378298; }
  .redux-toastr .toastr.rrt-success {
    background-color: #60bb71; }
    .redux-toastr .toastr.rrt-success .rrt-progressbar {
      background-color: #3e914d; }
  .redux-toastr .toastr.rrt-warning {
    background-color: #f7a336; }
    .redux-toastr .toastr.rrt-warning .rrt-progressbar {
      background-color: #d87e09; }
  .redux-toastr .toastr.rrt-error {
    background-color: #db6a64; }
    .redux-toastr .toastr.rrt-error .rrt-progressbar {
      background-color: #c5352e; }
  .redux-toastr .toastr.rrt-light .rrt-progressbar {
    background-color: #ccc; }
  .redux-toastr .toastr.rrt-light .toastr-icon {
    fill: #333 !important; }
  .redux-toastr .toastr.rrt-message {
    opacity: 1;
    border: 1px solid #dbdbdb; }
    .redux-toastr .toastr.rrt-message .rrt-title {
      width: 90%;
      height: 50px;
      text-align: center;
      overflow: hidden;
      font-size: 1.2em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 50px;
      padding: 0 20px; }
    .redux-toastr .toastr.rrt-message .rrt-text {
      width: 100%;
      max-height: 400px;
      overflow: hidden;
      overflow-y: auto;
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      background-color: white;
      padding: 15px;
      font-size: 1.1em;
      margin-bottom: 20px; }
      .redux-toastr .toastr.rrt-message .rrt-text img {
        display: block;
        margin: 10px auto;
        max-width: 100%; }
    .redux-toastr .toastr.rrt-message .close-toastr {
      height: 50px; }
  .redux-toastr .toastr .rrt-progress-container {
    height: 5px;
    margin: 0 -20px -20px -60px;
    position: absolute;
    bottom: 20px;
    width: 100%; }
    .redux-toastr .toastr .rrt-progress-container .rrt-progressbar {
      -webkit-border-radius: 0 0 0 4px;
      -moz-border-radius: 0 0 0 4px;
      border-radius: 0 0 0 4px;
      height: 100%; }
.redux-toastr .toastr-attention {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1; }

@font-face {
  font-family: 'vineritc';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  src: url("fonts/VINERITC.ttf"); }
body, html {
  font-family: sans-serif, vineritc; }

p {
  font-size: 16px; }

#logo {
  width: 140px;
  height: 105px; }

.main-header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("photos/main-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 25%; }

.header-section {
  height: 23vh;
  background-image: linear-gradient(white 0.2cm, black); }
  .header-section .header-title {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-family: 'vineritc';
    color: #fff;
    font-size: 55px; }

.down {
  margin-top: 80px; }

.main-header-container {
  top: 50vh;
  position: absolute;
  color: #fff;
  left: 10%;
  text-align: center; }
  .main-header-container h1 {
    text-align: right; }
  .main-header-container .button {
    margin-top: 10px;
    width: 45%; }

.button {
  background-color: #bd6b0b;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8); }

footer {
  margin: 50px 80px 0px 80px;
  display: block; }

section {
  margin-top: 50px; }

.how-it-works-section {
  text-align: center !important; }
  .how-it-works-section .step {
    margin: 30px; }
    .how-it-works-section .step .arrow {
      transform: rotate(200deg);
      margin: 0 auto;
      height: 260px; }
    .how-it-works-section .step .step-count {
      font-size: 20px;
      margin: 30px;
      font-weight: 800; }
    .how-it-works-section .step .step-text {
      font-size: 16px;
      max-width: 700px;
      margin: 0 auto; }
  @media only screen and (min-width: 700px) and (max-width: 1366px) {
    .how-it-works-section .arrow {
      height: 200px !important; } }
  @media only screen and (min-width: 375px) and (max-width: 700px) {
    .how-it-works-section .arrow {
      height: 200px !important; } }
  @media only screen and (max-width: 374px) {
    .how-it-works-section .arrow {
      height: 150px !important; } }

.timeline-section section {
  padding: 100px 0; }
.timeline-section html, .timeline-section body {
  overflow-x: hidden; }
.timeline-section body {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  background-color: #eee; }
.timeline-section h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400; }
.timeline-section header {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 150px 0; }
  .timeline-section header p {
    font-family: 'Allura';
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
    font-size: 60px;
    margin-top: -30px; }
.timeline-section .timeline {
  position: relative; }
  .timeline-section .timeline::before {
    content: '';
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
.timeline-section .timeline-item {
  width: 100%;
  margin-bottom: 70px; }
  .timeline-section .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px; }
    .timeline-section .timeline-item:nth-child(even) .timeline-content .date {
      right: auto;
      left: 0; }
    .timeline-section .timeline-item:nth-child(even) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent; }
  .timeline-section .timeline-item::after {
    content: '';
    display: block;
    clear: both; }
.timeline-section .timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3); }
  .timeline-section .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5; }
.timeline-section .timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px; }
.timeline-section a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6); }
  .timeline-section a:hover, .timeline-section a:active, .timeline-section a:focus {
    background: #32408f;
    color: #FFFFFF;
    text-decoration: none; }
.timeline-section .timeline-card {
  padding: 0 !important; }
  .timeline-section .timeline-card p {
    padding: 0 20px; }
  .timeline-section .timeline-card a {
    margin-left: 20px; }
.timeline-section .timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1458530970867-aaa3700e966d") center center no-repeat;
  background-size: cover; }
.timeline-section .timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3") center center no-repeat;
  background-size: cover; }
.timeline-section .timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1471479917193-f00955256257") center center no-repeat;
  background-size: cover; }
.timeline-section .timeline-item:nth-child(8) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a") center center no-repeat;
  background-size: cover; }
.timeline-section .timeline-item:nth-child(10) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1447639703758-f525f36456bf") center center no-repeat;
  background-size: cover; }
.timeline-section .timeline-item:nth-child(11) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1469429978400-082eec725ad5") center center no-repeat;
  background-size: cover; }
.timeline-section .timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px; }
  .timeline-section .timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px; }
.timeline-section blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px; }
.timeline-section .date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0; }
@media screen and (max-width: 768px) {
  .timeline-section .timeline::before {
    left: 50px; }
  .timeline-section .timeline .timeline-img {
    left: 50px; }
  .timeline-section .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px; }
  .timeline-section .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none; }
  .timeline-section .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent; } }

.interested-section {
  margin: 0 0;
  background-color: #ff026d;
  background-size: cover;
  height: 300px;
  width: 100%;
  background: linear-gradient(0deg, rgba(213, 16, 102, 0), #d51066), url("photos/forest.jpg") repeat;
  color: #fff;
  text-align: center; }
  .interested-section .center-elements {
    padding-top: 59px;
    padding-bottom: 59px; }
    .interested-section .center-elements p {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 20px; }
    .interested-section .center-elements button {
      width: 255px;
      background-color: #42bff3; }
  .interested-section .row {
    margin: 0px 0px !important; }

.center {
  text-align: center; }

.files-section {
  text-align: center !important; }
  .files-section ul > li {
    display: inline-block;
    padding-right: 10px; }
  .files-section .program-icon {
    font-size: 45px;
    color: #ce0037;
    vertical-align: middle;
    padding-right: 10px; }
  @media only screen and (max-width: 500px) {
    .files-section ul > li {
      display: block;
      padding-right: 10px; } }

.program-table-section .table-header {
  background-color: #ce0037;
  color: #fff; }
  .program-table-section .table-header th {
    text-align: center; }
    .program-table-section .table-header th .center-header {
      position: relative;
      left: 5%; }

.members-table-section .table-header {
  background-color: #3171ad;
  color: #fff; }
  .members-table-section .table-header th {
    text-align: center; }

.circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%; }

.subjects-section .image {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 0 auto; }
.subjects-section .row {
  margin-bottom: 22px;
  margin-top: 22px; }
.subjects-section .text {
  padding: 35px; }
  .subjects-section .text .description {
    padding-top: 35px; }

.payment-section {
  background-color: #eee;
  padding-bottom: 30px; }
  .payment-section .payment-option {
    background-color: #fff;
    max-width: 280px;
    margin: 0 10px;
    border-radius: 15px;
    display: inline-block; }
    .payment-section .payment-option .payment-header {
      padding-left: 23px;
      padding-right: 20px; }
      .payment-section .payment-option .payment-header li {
        display: table; }
      .payment-section .payment-option .payment-header .title {
        font-size: 18px; }
      .payment-section .payment-option .payment-header .pricing {
        font-size: 30px; }
        .payment-section .payment-option .payment-header .pricing .one-time {
          font-size: 16px; }
    .payment-section .payment-option .options {
      margin: 0px 20px; }
      .payment-section .payment-option .options td {
        text-align: left !important; }
        .payment-section .payment-option .options td img {
          max-width: none;
          padding-right: 5px; }
    .payment-section .payment-option .button {
      background-color: #1545ff;
      width: 76%;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700; }
    .payment-section .payment-option .line {
      border: solid 10px #31b0ff; }
    @media only screen and (max-width: 629px) {
      .payment-section .payment-option {
        margin-bottom: 15px; }
        .payment-section .payment-option:last-child {
          margin-bottom: 0px; } }

#footer {
  margin-top: 50px;
  background-color: #000 !important;
  color: #fff !important;
  text-align: center; }
  #footer i {
    width: 60px;
    height: 60px;
    font-size: 50px; }

/*# sourceMappingURL=style.css.map */
